{% extends 'base.html' %}

{% block title %}Home | MealBook{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome to MealBook</h1>
        <p class="lead">Explore delicious recipes and cookbooks</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>About MealBook</h2>
            <p>MealBook is a platform dedicated to sharing and discovering a wide variety of delicious recipes and cookbooks. Whether you're a seasoned chef or a cooking enthusiast, MealBook provides a community-driven space to explore new culinary ideas, find inspiration, and connect with fellow food lovers.</p>
            <!-- You can add more content about the purpose of the website -->
        </div>
    </div>
</div>
{% endblock %}
