/* homestyles.css */
#meal-table {
    width: 100%;
    border-collapse: collapse;
}

#meal-table th,
#meal-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.even-row {
    background-color: #f2f2f2;
}

.odd-row {
    background-color: #ffffff;
}

.hovered-row {
    background-color: #e6e6e6;
}
