<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}MealBook{% endblock %}</title>
    <script type="text/javascript" src="{% static 'js/code.jquery.com_jquery-3.7.0.js' %}"></script>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mealapp/basestyles.css' %}">
    {% block extra_styles %}{% endblock %}
    {% block app_includes %}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">MealBook</div>
        <ul class="nav-links">
            <li><a href="/mealbook">Home</a></li>
            <li><a href="/mealbook/cookbook">Cookbook</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2023 | MealBook Corps</p>
    <a href="{% url 'contact' %}">Contact Us</a>
</footer>
{% block extra_scripts %}{% endblock %}
</body>
</html>
